*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    display: grid;
    height: 100%;
   place-items: center;
   background-color: rgb(197, 156, 156);
}
.clock{
    height: 100px;
    width: 360px;
    background-image: linear-gradient(135deg,red,blue,orange);
    border-radius: 10px;
    animation: animate 1.5s linear infinite;
}
.clock .display,.clock span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.clock .display{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    background-color: rgb(28, 28, 30);
    height: 85px;
    width: 345px;
    border-radius: 6px;
    text-align: center;
}
.clock .display #time{
    line-height: 80px;
    color: white;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background-image: linear-gradient(135deg,red,blue,orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
animation:animate 1.5s linear infinite
}
@keyframes animate{
    100%{
        filter:hue-rotate(360deg)
    }
    }
    .clock span{
        height: 100%;
        width: 100%;
        background: inherit;
        border-radius: 10px;
    }
    .clock span:first-child{
        filter: blur(10px);
    }
    .clock span:last-child{
        filter: blur(20px);
    }